<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @truck.name %>
</p>

<p>
  <strong>Twitter user name:</strong>
  <%= @truck.twitter_user_name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @truck.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @truck.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @truck.address %>
</p>

<p>
  <strong>Last Address Tweet:</strong>
  <%= @truck.last_address_tweet %>
</p>

<p>
  <strong>Last Address Tweet Time:</strong>
  <%= @truck.last_address_tweet_time %>
</p>

<p>
  <strong>Last Address Update:</strong>
  <%= @truck.last_address_update %>
</p>

<p>
  	<b>Tweets:</b><br>
  	<% @truck.get_tweets(200).each do |tweet| %>
    	<%= "#{tweet.id} :: #{tweet.created_at} :: #{tweet.text}"%>
    	<b><%= "  :: #{@truck.contains_address(tweet.text)}" %></b>

		<br>
  	<% end %>
</p>

<%= link_to 'Edit', edit_truck_path(@truck) %> |
<%= link_to 'Back', trucks_path %>
