<h3><%= @tweet.text %></h3>
<br/>
<%= @tweet.extract_full_address %>
<br/>
<br/>
<%= @tweet.clean_text_for_regex %>
<br/>
<br/>
<%= @coordinate.clean_address_for_geocoder %>
<br/>
<br/>
street_address <%= @tweet.get_regexp(@tweet.street_address).match(@tweet.clean_text_for_regex)[0] unless @tweet.get_regexp(@tweet.street_address).match(@tweet.clean_text_for_regex).nil? %>
<br/>
<br/>
include_between <%= @tweet.get_regexp(@tweet.include_between).match(@tweet.clean_text_for_regex)[0] unless @tweet.get_regexp(@tweet.include_between).match(@tweet.clean_text_for_regex).nil? %>
<br/>
<br/>
intersection <%= @tweet.get_regexp(@tweet.intersection).match(@tweet.clean_text_for_regex)[0] unless @tweet.get_regexp(@tweet.intersection).match(@tweet.clean_text_for_regex).nil? %>
<br/>
<br/>
full_street_names <%= @tweet.get_regexp(@tweet.full_street_names).match(@tweet.clean_text_for_regex)[0] unless @tweet.get_regexp(@tweet.full_street_names).match(@tweet.clean_text_for_regex).nil? %>
<br/>
<br/>
all_street_names <%= @tweet.get_regexp(@tweet.all_street_names).match(@tweet.clean_text_for_regex)[0] unless @tweet.get_regexp(@tweet.all_street_names).match(@tweet.clean_text_for_regex).nil? %>
<br/>
<br/>
cardinal_street_names <%= @tweet.get_regexp(@tweet.cardinal_street_names).match(@tweet.clean_text_for_regex)[0] unless @tweet.get_regexp(@tweet.cardinal_street_names).match(@tweet.clean_text_for_regex).nil? %>
<br/>
<br/>

between_address_first_part <%= @tweet.get_regexp(@tweet.between_address_first_part).match(@tweet.extract_address)[0] unless @tweet.get_regexp(@tweet.between_address_first_part).match(@tweet.extract_address).nil? %>
<br/>
<br/>
intersection_first_street <%= @tweet.get_regexp(@tweet.intersection_first_street).match(@tweet.extract_address)[0] unless @tweet.get_regexp(@tweet.intersection_first_street).match(@tweet.extract_address).nil? %>
<br/>
<br/>
intersection_second_street <%= @tweet.get_regexp(@tweet.intersection_second_street).match(@tweet.extract_address)[0] unless @tweet.get_regexp(@tweet.intersection_second_street).match(@tweet.extract_address).nil? %>
<br/>
<br/>

<%= link_to "Show Coordinate", @coordinate %>
<%= link_to 'Back', root_path %>

