<p id="notice"><%= notice %></p>

<p>
  <strong>Twitter user:</strong>
  <%= @twitter_truck.twitter_user_id %>
</p>

<p>
  <strong>User name:</strong>
  <%= @twitter_truck.name %>
</p>
  
<table>
  <tbody>
    <% @truck_tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.text %></td>
        <td><%= tweet.tweet_created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_twitter_truck_path(@twitter_truck) %> |
<%= link_to 'Back', twitter_trucks_path %>
